*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --first-color:rgb(20, 19, 19);
    
    color: aliceblue;
}
/*==============================
        Common styling
===============================*/
p,
section h1,
input,
form,
button,
ul li:last-child,
ul li:nth-last-child(2){
    margin-bottom: 10px;
}


input,
button {
    border-radius: 7px;
}



button{
    font-size: 1.2rem;
}

section h1{
    font-size: 1.5rem;
}

li > p{
    font-size: 10px;
}


/*==============================
    Main elements styling
===============================*/

html{
    height: 100%;
    display: flex;
}
body{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
.background{  
    position: relative;
    flex-grow: 3;
    background-image: url(img/background.jpg);
    background-size: cover;
    
}

main{
    background-color: var(--first-color);
    flex-grow: 6;
    text-align: center;
}


@media (min-width: 800px) {
    body{
    flex-direction: row;
    }
    .background{  
        flex-grow: 2;
    }
    main{
    flex-grow: 2;
    }
}

/*==============================
    Child elements styling
===============================*/


.background section{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.logo{
    height: 100%;
}

.logo img{
    margin-top: 25%;
    object-fit: fill;
   max-height: 60%;
    z-index:3
}

@font-face {
    font-family: Planet, sans-serif;
    src: url(font/PLANK___.TTF);
}

span {
    font-family: Planet, sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    }


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

section h1{
    
    text-align: center;
    font-family: Poppins, sans-serif;
    
}

@media (min-width: 800px) {
    .background section{
        top:15%;
        height: 15%;
    }
    
}
/*==============================
        Form styling
===============================*/



form{
    
    width: 90%;
    margin-left: 5%;
    border-radius: 7px;
    background-color: rgb(80, 77, 77);
    display: flex;
    justify-content: center;
    position: relative;  
}

@media (min-width: 800px) {
    form{
        width: 60%;
        margin-left: 20%;
    }
    
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

li{
    display: flex;
    flex-direction: column;
   
}

ul li:first-child{
    margin-top: 15px;
}



p{
    text-align: center;
    font-weight: 600;
   
}

/*==============================
        Input styling
===============================*/
label{
   
    font-size: 20px;
    font-family: Poppins, sans-serif;
    display: inline-block;
    text-align: left;
}
input{
    appearance: none;
    width: 200px;
    height: 1.6rem;
    background-color: var(--first-color);
    border: 1px solid rgb(218, 104, 63);;
    font-weight: 500;
    padding: 7px;
}
input:focus{
    background-color: rgb(118, 123, 148);
}

button{
    
    appearance: none;
    width: 220px;
    height: 2.5rem;
    font-weight: 600;
    
    border: 3px solid rgb(218, 104, 63);
    background-color: var(--first-color);   
}

button:hover, button:focus{
    background-color: rgb(218, 104, 63);
}
a{
    color: rgb(218, 104, 63);
    text-decoration: none;
}
a:focus, a:hover{
    color: aliceblue;
}
li p{
    font-size: 14px;
}
input + span{
    position: relative;
}

input:valid +span::after{
    position: absolute;
    right: -44px;
    top: -34px;
    background-color: green;
    padding: 4px;
    font-size: 13px;
    content: "valid";
}

input:invalid +span::after{
    position: absolute;
    right: -54px;
    top: -34px;
    background-color: red  ;
    padding: 4px;
    font-size: 13px;
    content: "invalid";
}

input:placeholder-shown +span::after{
    display: none;
    content: "";
}

input:valid{
    border: 2px green solid;
}